@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
.rwd-table {
  margin: 1em 0;
  min-width: 300px;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}
@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
}
.rwd-table th, .rwd-table td {
  text-align: left;
}
@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #d1d1d1;
      background-image: url(burger.png), url(bgorder.jpg);
    background-position: right center, left top;
    background-color:#eeeeee;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #e9be32;
  margin-left: 15rem;
  font-family: 'Architects Daughter', cursive;
}

.rwd-table {
  background: #e9be32b1;
  color: #0a0303;
  border-radius: .4em;
  overflow: hidden;
  font-weight: bold;
}
.rwd-table tr {
  border-color: #46637f;
  font-family: 'Architects Daughter', cursive;
}
.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
@media (min-width: 480px) {
 
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}
.rwd-table th, .rwd-table td:before {
  
  font-size: 1.4rem;
}
  .fa, .fas {
    font-weight: 900;
    font-size: 50px;
    color: #6E4D33;
  }
  .button {
  background-color: #e9be32;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 39px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 180px;
  font-family: 'Architects Daughter', cursive;
  height: 50px;
}
.result {
  background-color: #34495E;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  font-size: 34px;
  margin: 4px 2px;
  width: 304px;
  height: 34px;
  font-family: 'Architects Daughter', cursive;
  display: block;
}
.button:hover {
  background-color: #FFFFFF;
  border: 1px solid #333;
  color: #e9be32;
  font-weight: normal;
}
.credits{
  margin-top:50px; 
  padding:20px;
  border-radius:5px;
  width:450px;
  text-align:center;
  color:gray;
}
a {
  color:gray;
  text-decoration:none;
}
a:hover{
  color:#34495E;
}